@using Jiper.FontAwesome.Blazor.Enums
@using Jiper.FontAwesome.Blazor.Utils
@using Microsoft.AspNetCore.Components

<span class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</span>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public IconSize Size { get; set; } = IconSize.None;
    [Parameter] public bool FixedWidth { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => ClassBuilder.Build(
        "fa-layers",
        ClassBuilder.SizeToClass(Size),
        FixedWidth ? "fa-fw" : null,
        Class
    );
}
