@page "/"
@using Jiper.FontAwesome.Blazor
@using Jiper.FontAwesome.Blazor.Components
@using Jiper.FontAwesome.Blazor.Enums

<PageTitle>Home</PageTitle>

<FaIcon Icon="User" Rotation="IconRotation.Rotate180"/>

<FaStack>
    <FaIcon Icon="LocationPin" StackLayer="StackLayerSize.TwoX" Style="color: forestgreen"/>
    <FaIcon Icon="UserCircle" StackLayer="StackLayerSize.OneX" Style="color: yellow" />   
</FaStack>

<h1>Hello, world!</h1>

Welcome to your new app.